<h1>Обратная связь TestGuru</h1>
<% if @feedback.first_name.present? || @feedback.last_name.present? %>
  <p><b>От:</b> <%= @feedback.first_name %> <%= @feedback.last_name %></p>
<% end %>
<p><b>E-mail:</b> <%= @feedback.email %></p>

<h2>Текст сообщения:</h2>
<p><%= @feedback.body %></p>
