<%= form_with model: model, local: true do |f| %>
  <div class="field">
    <div><%= f.label :body %></div>
    <div><%= f.text_field :body, id: :question_body %></div>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
