<footer class="footer">
  <div class="container">
    <div>&copy; <%= current_year %></div>
    <div>Автор: mrkmx</div>
    <div>Ссылка на репозиторий: <%= github_url "mrkmx", "test-guru" %></div>
    <div>
      <a href="https://thinknetica.com/" target="_blank" rel="noopener noreferrer">
        Учебный проект в онлайн-школе Thinknetica
      </a>
    </div>
    <div><%= link_to t('feedbacks.link'), new_feedback_path %></div>
  </div>
</footer>
