<% if logged_in? %>
  <div class="nav nav__user">
    <p>
      <strong>
        <%= current_user.name %>
      </strong>

      <%= link_to 'Тесты', tests_path %> | 
      <%= link_to 'Выйти', logout_path, method: :delete %>
    </p>
  </div>
<% end %>
