<div class="container mb-5">
  <h1>Редактировать ответ</h1>

  <p>
    <%= @answer.question.body %>
  </p>

  <%= render 'form' %>

  <div>
    <%= link_to 'Back', admin_question_path(@answer.question), class: "btn btn-link" %>
  </div>
</div>