<div class="container mb-5">
  <h1>Создать новый ответ</h1>

  <p>
    <%= @question.body %>
  </p>

  <%= render 'form' %>

  <div>
    <%= link_to 'Back', admin_question_path(@question), class: "btn btn-link" %>
  </div>
</div>
