<div class="container mb-5">
  <h1><%= question_header(@question)%></h1>
  <%= render 'form', model: [:admin, @question] %>
  <div>
    <%= link_to 'Назад', admin_test_path(@test), class: "btn btn-link" %>
  </div>
</div>
