<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .container {
        width: 90%;
        margin: 50px auto 0;
        padding: 15px;
        border: 1px solid gray;
        color: #333;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
